<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title> 
        <link rel="stylesheet" href="{{ url_for ('static',filename='css/Login_style.css') }}">
    </head>

    <body>

        <div class="title"> 
            <h1> MONEY PLANT </h1>
            <h4> Reduce -- Reuse -- Recycle </h4>
        </div>       
        
        <!-- Login Box -->
        <div class="box">
            <h2> Login </h2>

            <form action="/form_login" method="post">

                <!-- Username Box -->
                <div class="inputBox">
                    <input type="text" name="username" required="">
                    <label> Username </label>
                </div>

                <!-- Password Box -->
                <div class="inputBox">
                    <input type="password" name="password" required="">
                    <label> Password </label>
                </div>

                <!-- Submit Button -->
                <div class="inputBox">
                    <input type="submit" name="" value="Submit">
                </div>

            </form>
        </div>
<!-- 
        <h1> {{ info }} </h1> -->

    </body>
</html>